<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>NBA Machine Learning Picks</title>
    <style>
      .green {color: green}
      .red {color: red}
      td {padding: 2px;}
      td.numbers { width: 40px; text-align: right;}
      table {margin-bottom: 6px;}
      th {text-align: center;}
    </style>
  </head>
  <body>
    <main class="container">
      <h1>NBA Machine Learning Picks ({{today}})</h1>
      <table role="grid">
      <thead>
          <th>Teams</th>
          <th>Fanduel</th>
          <th>Draftkings</th>
          <th>Betmgm</th>
      </thead>
        <tbody>
        <tr>
          {% for game_key in data.get('fanduel') %}
          {% set teams = game_key.split(':') %}
          <tr>
            <td width="180px;">
            <table>
              <tbody>
                <tr>
                  <td>{{ teams[0] }}</td>
                </tr>
                <tr>
                  <td>{{ teams[1] }}</td>
                </tr>
              </tbody>
            </table>
            </td>
            {% for sportsbook in ['fanduel', 'draftkings', 'betmgm'] %}
            {% set sbgame = data.get(sportsbook)[game_key] %}
            {% if not sbgame or not sbgame.away_team or not sbgame.home_team %}
            <td class="{{sportsbook}}"></td>
            {% else %}
              {% if teams[0] == sbgame.away_team %}
              <td class="{{sportsbook}}">
                <table>
                  <tbody>
                    <tr>
                      <td class="numbers">{% if sbgame.away_team_odds|int > 0 %}+{%endif%}{{ sbgame.away_team_odds }}{% if sbgame.away_confidence %} <span class="ev-confidence">({{sbgame.away_confidence}}%)</span>{% endif %}</td>
                      <td class="numbers">
                        <span class="ev-value">{{ sbgame.away_team_ev }}</span>
                      </td>
                      <td class="numbers">{% if sbgame.ou_pick == 'OVER' %}O{%else%}U{%endif%} {{ sbgame.ou_value }}</td>
                    </tr>
                    <tr>
                      <td class="numbers">{% if sbgame.home_team_odds|int > 0 %}+{%endif%}{{ sbgame.home_team_odds }}{% if sbgame.home_confidence %} <span class="ev-confidence">({{sbgame.home_confidence}}%)</span>{% endif %}</td>
                      <td class="numbers">
                        <span class="ev-value">{{ sbgame.home_team_ev }}</span>
                      </td>
                      <td class="numbers"><span class="ou-confidence">{{sbgame.ou_confidence}}%</span></td>
                    </tr>
                  </tbody>
                </table>
              </td>
              {% endif %}
            {% endif %}
            {% endfor %}
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </main>
    <script>
      function perc2color(perc,min,max) {
            var base = (max - min);
            if (base == 0) { perc = 100; }
            else {
                perc = (perc - min) / base * 100; 
            }
            var r, g, b = 0;
            if (perc < 50) {
                r = 255;
                g = Math.round(5.1 * perc);
            }
            else {
                g = 255;
                r = Math.round(510 - 5.10 * perc);
            }
            var h = r * 0x10000 + g * 0x100 + b * 0x1;
            return '#' + ('000000' + h.toString(16)).slice(-6);
        }
      evs = document.getElementsByClassName("ev-value")
      evconfs = document.getElementsByClassName("ev-confidence")
      ous = document.getElementsByClassName("ou-confidence")
      for (var i = 0; i < evs.length; i++) {
          evs[i].style.color = perc2color(parseFloat(evs[i].textContent.replace('(','').replace(')',''))+100,0,200)
      }
      for (var i = 0; i < evconfs.length; i++) {
          evconfs[i].style.color = perc2color(parseFloat(evconfs[i].textContent.replace('(','').replace(')','')),0,100)
      }
      for (var i = 0; i < ous.length; i++) {
          ous[i].style.color = perc2color(parseFloat(ous[i].textContent.replace('(','').replace(')','')),0,100)
      }
      </script>
  </body>
</html>
